{% extends 'base.html.twig' %}

{% block title %}GoldTrophy index{% endblock %}

{% block body %}
    <h1>GoldTrophy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Award</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gold_trophy in gold_trophies %}
            <tr>
                <td>{{ gold_trophy.id }}</td>
                <td>{{ gold_trophy.award }}</td>
                <td>{{ gold_trophy.image }}</td>
                <td>
                    <a href="{{ path('gold_trophy_show', {'id': gold_trophy.id}) }}">show</a>
                    <a href="{{ path('gold_trophy_edit', {'id': gold_trophy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('gold_trophy_new') }}">Create new</a>
{% endblock %}
