{% extends 'base.html.twig' %}

{% block title %}Cabinet{% endblock %}
{% block body %}
<style>
    h2 {
        text-align: center;
    }
    body {
        background-image: url('images/cabinet.jpeg');
    }
    h1 {
        text-align: center;
        color: #DDDDDD;
    }
    h2 {
        text-align: center;
    }
    .bronzetrophies {
        text-align: center;
    }
    .silvertrophies {
        text-align: center;
    }
    .goldtrophies {
        text-align: center;
    }
</style>
    <h2>Please use this page to admire and manage your trophies.✍ <br> These are your rewards for your study sessions congratulations!✔</h2>
    <h1>Bronze Trophies⭐</h1>
    {% for bronzetrophy in bronzetrophies %}
        <div class="bronzetrophies">
            {{ bronzetrophy.image }}
            {{ bronzetrophy.user }}
            <img src="/images/{{ bronzetrophy.image }}">
        </div>
    {% endfor %}

    <h1>Silver Trophies⭐</h1>
    {% for silvertrophy in silvertrophies %}
        <div class="silvertrophies">
            {{ silvertrophy.image }}
            {{ silvertrophy.user }}
            <img src="/images/{{ silvertrophy.image }}">
        </div>
    {% endfor %}
    <h1>Gold Trophies⭐</h1>
    {% for goldtrophy in goldtrophies %}
        <div class="goldtrophies">
            {{ goldtrophy.award }}
            {{ goldtrophy.user }}
            <img src="/images/{{ goldtrophy.image }}">
        </div>
    {% endfor %}
{% endblock %}
