{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <style>
        h1 {
            background-color: black;
            color: white;
            text-align: center;
        }
        body {
            background-color: lightgreen;
        }
        p {
            color: black;
        }
        .content{
            border: 2px solid #070c0a;
        }
        h5 {
            text-align: center;
        }
        .loginlink{
            text-align: center;
        }
    </style>
<h1>Welcome to Student Overflow.</h1>
    <div class="content">
        <h5><strong>The objective of this web application is to give the user a space to control, monitor and improve your study experience.</strong></h5>
        <p>✍  Use our study timer to receive rewards and monitor your <a href="{{ url('home_study') }}">study.</a><br></br>
            💻  Store records of your <a href="{{ url('subject_index') }}">subjects</a> and upcoming <a href="{{ url('assignment_index') }}">assignments.</a><br></br>
            ✔  View your academic schedule and upcoming assignments with our customizable <a href="{{ url('home_calender_janruary') }}">calender.</a><br></br>
            ⭐  Visit your <a href="{{ url('home_cabinet') }}">trophy cabinet</a> and admire your achievements! Also dont forget to visit the <a href="{{ url('home_cabinethub') }}">hub</a> and see everyone's achievements!
    </p>
        <div class="loginlink">
            <strong>Our site works a lot better for you if you create an account and login with us.</strong><br>
            If you wish to create an account to experience the full potential of StudentOverflow follow the link.<br>
            <a href="{{ url('app_login') }}">Login to your account</a>
        </div>
</div>
{% endblock %}
